{% extends 'base.html.twig' %}

{% block title %}Gestion des Langues{% endblock %}

{% block content %}
    <div class="w-full p-4">
        <div class="flex flex-col">
            <h1 class="text-lg font-medium text-black ">
                Administration <span class="font-bold text-red-600">des langues</span>
            </h1>
            <a href="{{ path('admin') }}" class="mt-0 block">&larr; Retour au tableau de bord</a>
            <a class="flex flex-col items-center mt-9 w-full" href="{{ path('app_admin_language_new') }}">
                <div class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition hover:bg-red-700 text-white">
                    <span class="font-bold mr-2">
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
                    </span>
                    <span class="capitalize font-medium text-md">Ajouter une nouvelle langue</span>
                </div>
            </a>
        </div>

        <table class="table table-striped w-full text-sm text-left text-gray-500 mt-8 border-2 rounded-md">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">Id</th>
                <th class="px-6 py-3">Drapeau</th>
                <th class="px-6 py-3">Code</th>
                <th class="px-6 py-3">Label</th>
                <th class="px-6 py-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr class="bg-white border-b">
                    <td class="px-6 py-4">#{{ language.id }}</td>
                    <td class="px-6 py-4"><img src="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/flags/4x3/{{ language.code }}.svg" alt="drapeau de la langue" class="h-10"></td>
                    <td class="px-6 py-4"><span class="uppercase">{{ language.code }}</span></td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ language.nom }}</td>
                    <td class="px-6 py-4">
                        <a href="{{ path('app_admin_language_edit', {'id': language.id}) }}" class="bg-yellow-500 text-white p-2 rounded-md">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune langue</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin') }}" class="mt-8 p-2 block">&larr; Retour au tableau de bord</a>
    </div>
{% endblock %}